---
---

@import 'main';

/* append your custom style below */
.card-header, .card-title, .card-subtitle {
    margin: 6px; /* Removes any margin */
    padding: 4px; /* Removes any padding */
  }

.border-grey {
    border-color: #343a40 !important;
  }